:root {
  --cinza: #aaa;
  --azulmarine: #4bd4c9;
  --vermelha: #d65555;
  --vermelha-escura: #af303f;
  --preta: #000000;
  --luz: rgb(229, 255, 0);
  --branca:#ffffff;
  --azultecla: #20dbd2, 255, 255;
  --azulteclafondo: rgb(32, 104, 100), 255, 255;
}

body {
  align-items: center;
  background-image: url("../images/capa-blog.png");
  background-size: 110%;
  display: flex;
  
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

h1 {
  background-color: #DFA12E;
  color: #dd0808;
  margin-bottom: 50px;
  font-size: 2rem;
  border-radius: 70px;
}

.teclado {
  background: linear-gradient(to bottom, #DFA12E 0%,#dd0808 100%);
  border-radius: 30px;
  width: 500px;
  height: 500px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.tecla {
  background-color: #000000;
  border-radius: 30px;
  box-shadow: 3px 3px 0 #dd0808;
  color: #DFA12E;
  cursor: pointer;
  height: 150px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  width: 150px;
}

.tecla.ativa,
.tecla:active {
  background-color: var(--azultecla);
  border: 4px solid var(--azulteclafondo);
  box-shadow: 3px 3px 0 black inset;
  color: var(--azulmarine);
  outline: none;
}

.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--luz);
}

.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset, 1px 1px 10px var(--luz);
}

